extends layout
block content
    h1= 'Add a New Pokemon to the Pokedex'

    form(method='POST' action='/pokedex/pokemon')
      div.form-group
        label(for='pokedex_number') Pokedex Number:
        input#pokedex_number.form-control(type='number', placeholder='pokedex number' name='pokedex_number')
      div.form-group
        label(for='name') Name:
        input#name.form-control(type='text', placeholder='pokemon name' name='name')
      div.form-group
        label(for='hp') HP:
        input#hp.form-control(type='number', placeholder='hp' name='hp')
      div.form-group
        label(for='attack') Attack Power:
        input#attack.form-control(type='number', placeholder='attack' name='attack')
      div.form-group
        label(for='defense') Defense:
        input#defense.form-control(type='number', placeholder='defense' name='defense')
      div.form-group
        label(for='speed') Speed:
        input#speed.form-control(type='number', placeholder='speed' name='speed')
      div.form-group
        label(for='sp_atk') Special Attack Power:
        input#sp_atk.form-control(type='number', placeholder='special attack' name='sp_atk')
      div.form-group
        label(for='sp_def') Special Defense Power:
        input#sp_def.form-control(type='number', placeholder='special defense' name='sp_def')
      div.form-group
        label(for='main_type') Main Type:
        input#main_type.form-control(type='text', placeholder='main pokemon type' name='main_type')
      button.btn.btn-primary(type='submit') Create Pokedex Entry

