doctype html

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    a(href='/site/pokemon') Home |
    a(href='/site/newpokemon')  New Pokedex Entry
    block content

