extends layout

block content
    h1= title
    p Welcome to #{title}

    each entry in entries
            p Name: #{entry.name}
            a(href='/site/showpokemon/'+entry.id)
                img(src='/images/pokedex/'+entry.pokedex_number+'.png')
